USE [master]
GO
/****** Object:  Database [Prueba2]    Script Date: 07/12/2021 11:17:16 p. m. ******/
CREATE DATABASE [Prueba2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Prueba2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Prueba2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Prueba2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Prueba2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Prueba2]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 07/12/2021 11:17:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [nvarchar](250) NULL,
	[contrasena] [nvarchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 07/12/2021 11:17:17 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[codigo] [int] NOT NULL,
	[nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
	[precio] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([id], [usuario], [contrasena]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[Persona] ([id], [usuario], [contrasena]) VALUES (2, N'1234', N'1234')
SET IDENTITY_INSERT [dbo].[Persona] OFF
GO
INSERT [dbo].[producto] ([codigo], [nombre], [Descripcion], [precio]) VALUES (1, N'Far cry primal', N'ubisoft', N'200bs')
INSERT [dbo].[producto] ([codigo], [nombre], [Descripcion], [precio]) VALUES (2, N'far cry 3', N'Ubisoft', N'234,50bs')
INSERT [dbo].[producto] ([codigo], [nombre], [Descripcion], [precio]) VALUES (3, N'Devil may cry ', N'capcom', N'254bs')
GO
USE [master]
GO
